.nav-footer {
    background-color: #FF5B00;
    padding-top: 25px;

    .row {
        display: flex;
    }

    .menu_item {
        cursor: pointer;
        line-height: 2.8rem;

        span {
            transition: transform 0.3s ease;
            transition: text-shadow 0.3s ease;

            &:hover {
                text-shadow: 0 0 10px yellowgreen;
                font-weight: 600;
                transform: scale(1.2);
            }
        }
    }
}


h4 {
    text-transform: uppercase;
    padding: 5px 0;
}

.social_icon {
    font-size: 34px;
    display: flex;
    gap: 0.5rem;

    .fb {
        color: blue;
    }

    .insta {
        color: rgb(255, 3, 87);
    }

    .icon {

        border-radius: 999px;
        padding: 0 8px;
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 0 10px $yellow;
        }

    }

}

.copy {
    background-color: grey;
}

.thumb {
    min-width: 200px;
    max-width: 250px;
}

.copyright {
    position: fixed;
    bottom: 0;
    text-align: center;
}
