.card {

    .box-image {
        background-color: #fff;
    }

    img {
        width: 18rem;
        height: 12rem;
    }

    .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}

.main-content {
    min-height: calc(100vh - 600px);
}

.restaurant {
    .restaurant-top {
        p {
            margin: 8px;
        }
    }

    .box-image {
        width: 60%;
    }
}

.button {
    background-color: rgb(255, 91, 0);
    color: white;
    font-weight: bold;

    &:hover {
        border: 1px solid rgb(255, 91, 0);
        color: rgb(255, 91, 0);
        background-color: white;
    }
}

.card-title a{
    color: rgb(255, 91, 0);
}