.card {

    .box-image {
        background-color: #fff;
    }

    img {
        width: 18rem;
        height: 12rem;
    }

    .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}

.restaurant {
    .restaurant-top {
        p {
            margin: 8px;
        }
    }

    .box-image {
        width: 60%;
    }
}